##  日期函数
#parse("platform/head.vm")
##    引入需要的css
<link rel="stylesheet" href="/static/My97DatePicker/skin/WdatePicker.css">
    <title>wdatepicker</title>
</head>
<body>
<div class="container">

    #parse("platform/navbar.vm")
    <div class="row">
    ## 设置导航条一下 左侧栏导航
        <div class="col-md-2 sider">

        </div>
    ## 内容
        <div class="row col-md-9 content">
            <div class="row" style="height: 50px;width: auto">

            </div>
            <div class="row">
                <form action="">
                    <div class="form-group">
                        <label>选择时间：</label>
                        <input type="text" class="form-control" name="wdate" placeholder="点击添加时间"
                               onclick="showtime()"/>
                    </div>

                </form>


            </div>
        </div>
</div>

    #parse("platform/footer.vm")
    <script src="/static/My97DatePicker/WdatePicker.js"></script>
    ## 书写js脚本
    <script>
     /*   var _iframe_layout;
        $(document).ready(function () {
            //初始化布局框架
            _iframe_layout = $("body").layout({
                center__maskContents: true,
                //基本设置
                defaults: {
                    resizable: true,
                    closable: true,
                    spacing_open: 0
                },
                //中心页面设置
                center: {
                },
                //左侧页面设置
                west: {
                    //size: 260
                }
            });
            $("#center").layout({
                north: {
                   // size : 100
                }
            })
        })*/
        /**
         * 展示日期选择器
         */
        function showtime(){
            WdatePicker({
                position: {top: 10, left: 0},
                dateFmt: 'yyyy-MM-dd HH:mm:ss'
            });
        }

    </script>
</body>

</html>