## 结尾数据
<div class="row" style="background-color: #0c090c;height: 20px;float:left;">
    #### 2017###
</div>
<script src="/static/jquery.min.js"></script>
## 引入页面ui插件 配合bootstrap.min.css一起使用
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
## 引入弹窗layer 插件 配合 layer.css一起使用
<script src="/static/layer/layer.js"></script>
<script src="/static/bootnav/js/bootsnav.js"></script>
<script>
    //页面滚动事件  当页面发生滚动是 将导航条的底色调整
    window.onscroll = function(){
        $("#title").css("background-image","url(/static/images/city.jpg)");
        $("#title").css("opacity",0.9);
    }
    //登出
    $("#logout").click(function () {
        $.get("/logout",function (data) {
            if(data.message == "success"){

                layer.confirm("登出成功！",{btn:"确定"},function () {
                    window.location.href = "/";//跳转到登录页
                });
            }

        })
    })
</script>