<div class="row" id="title" style="font-family: 微软雅黑; margin-top: 10px; opacity: 1;
">
    <div class="col-md-12">
    ##  导航图标
        <div class="navbar-header" style="margin: 20px;">
            <a href="/home">
                <img  src="/static/images/title.ico" style="width: 50px;height: 50px; border:2px solid;
border-radius:25px;" alt="首页图标">
            </a>

        </div>
    ##   折叠菜单 列表
        <div class="collapse navbar-collapse" id="navbar-menu" style="margin-top: 20px">
            <ul class="nav navbar-nav" data-in="fadeInDown" data-out="fadeOutUp">
                <li><a href="/home">HOME</a></li>## 跳转到主页
            ## 添加下拉菜单
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">CONTENT</a>
                    <ul class="dropdown-menu  animated">
                        <li><a href="/content/ajax">表单序列化</a></li>
                        <li><a href="/content/date">日期和日期字符串</a></li>
                        <li><a href="/content/array">Array对象使用</a></li>

                        <li><a href="/content/wdatepicker">Wdatepicker</a></li>
                        <li><a href="#">百度echarts</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">COSTOM </a>
                            <ul class="dropdown-menu multi-dropdown animated">
                                <li><a href="#">SSSSSMENU</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>
                <li><a href="/content/test">TEST</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">JQuery插件</a>
                    <ul class="dropdown-menu  animated">
                        <li><a href="/content/jqzoom">jqzoom-图片放大器</a></li>
                        <li><a href="/content/flexslider">FlexSlider-滚动动画</a></li>
                    </ul>
                </li>
                <li><a href="#">HTML</a></li>
                <li><a href="#">Velocity</a></li>
                <li><a href="#">JSON</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">KENDO</a>
                    <ul class="dropdown-menu  animated">
                        <li><a href="/content/grid">grid-图表</a></li>
                        <li><a href="/content/window">window-内嵌框架</a></li>
                    </ul>
                </li>
                <li ><a href="#">ABOUT US</a></li>
                <li id="logout" style="position: absolute;right: 0px"><a href="javascript:;">LOGOUT</a></li>
            </ul>
        </div>

    </div>
</div>
##<div class="row" style="height: 50px;width: auto"></div>
