<?xml version="1.0" encoding="UTF-8" ?>
<!--<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://hc.supconit.com/mybatis-3-mapper.dtd">-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--  MAPPER ; CREATE AT Mon Nov 30 16:45:03 CST 2015 BY **@supcon.com-->
<mapper namespace="com.xuxy.mappers.UserMapper">


    <insert id="insert"  >
        insert into t_user (name,address) values(#{name},#{address})
    </insert>
    <select id="findByPager" resultType="com.xuxy.entities.User">
        select * from t_user
    </select>

    <select id="selectByPager" resultType="com.xuxy.entities.User">
        <!--<include refid="_PUBLIC_V.PAGER_BEFORE"/>-->
        select * from t_user
        <!--<include refid="_PUBLIC_V.PAGER_AFTER"/>-->

    </select>
    <select id="countByPager" resultType="long">
        select Count(0) from t_user
    </select>
    <update id="update">
        update t_user set name = #{name},address = #{address} where id = #{id}
    </update>

    <delete id="deleteById">
        delete FROM  t_user where id = #{id}
    </delete>


</mapper>