#parse("platform/head.vm")
<title>jquery测试</title>

</head>
<body>
<div class="box">
    <ul class="menu">
        <li class="levell">
            <a href="#">衬衫</a>
            <ul class="level2">
                <li><a href="#">长袖衬衫</a></li>
                <li><a href="#">短袖衬衫</a></li>
                <li><a href="#">短袖T恤</a></li>
                <li><a href="#">长袖T恤</a></li>

            </ul>
        </li>
        <li class="levell">
            <a href="#">卫衣</a>
            <ul class="level2">
                <li><a href="#">运动卫衣</a></li>
                <li><a href="#">开口卫衣</a></li>
                <li><a href="#">套头卫衣</a></li>
                <li><a href="#">风衣</a></li>

            </ul>
        </li>
        <li class="levell">
            <a href="#">裤子</a>
            <ul class="level2">
                <li><a href="#">短裤</a></li>
                <li><a href="#">长裤</a></li>
                <li><a href="#">休闲裤</a></li>
                <li><a href="#">牛字库</a></li>
            </ul>
        </li>
    </ul>
</div>
<div class="SubCategoryBox">
    <ul>
        <li><a href="#">佳能</a><i>(123)</i></li>
        <li><a href="#">索尼</a><i>(123)</i></li>
        <li><a href="#">三星</a><i>(123)</i></li>
        <li><a href="#">尼康</a><i>(123)</i></li>
        <li><a href="#">松下</a><i>(123)</i></li>
        <li><a href="#">卡西欧</a><i>(123)</i></li>
        <li><a href="#">富士</a><i>(123)</i></li>
        <li><a href="#">柯达</a><i>(123)</i></li>
        <li><a href="#">宾得</a><i>(123)</i></li>
        <li><a href="#">理光</a><i>(123)</i></li>
        <li><a href="#">奥林巴斯</a><i>(123)</i></li>
        <li><a href="#">明基</a><i>(123)</i></li>
        <li><a href="#">爱国者</a><i>(123)</i></li>
        <li><a href="#">其他相机品牌</a><i>(123)</i></li>
    </ul>
    <div class="showmore">
        <a href="more"><span>显示所有品牌</span></a>
    </div>

</div>
#parse("platform/footer.vm")
<script>
    $(document).ready(function () {
        $(".levell >a").siblings().hide();//隐藏a的同胞元素ul level2
        //$(".levell >a").hide();
        $(".levell >a").click(function(){
            $(this).addClass("current").next().show().parent().siblings()
                    .children("a").removeClass("current").next().hide();
            return false;
        })

        //获取从索引第五个开始最后一个不要的所有li标签
        var $category = $(".SubCategoryBox ul li:gt(5):not(:last)");
        $category.hide();//进行隐藏

        var toggleBtn = $("div.showmore > a");//获取显示全部品牌
        toggleBtn.click(function(){ //给当前标签一个点击事件
            if($category.is(":visible")){
                $category.hide();
                $(this).find("span")
                        .text("显示所有品牌");
                $("ul li").removeClass("promoted");
            }else{
                //显示全部品牌
                    $category.show();
                $(this).find("span")
                //.css("backgroud","url(static/images/city.jpg) no-repeat 0 0")
                        .text("精简品牌显示");

                $("ul li").filter(":contains('佳能')，:contains('尼康')")
                        .addClass("promoted");
            }

            return false;

        })



    })

</script>
</body>
