###  javascript中array对象的测试用例
#parse("platform/head.vm")
    <title>Array对象</title>

</head>

<body>
    <div class="container">
        #parse("platform/navbar.vm")
        <div class="row">
        ## 设置导航条一下 左侧栏导航
            <div class="col-md-2 sider">

            </div>
        ## 内容
            <div class="row col-md-9 content">
                <div class="row" style="height: 50px;width: auto">

                </div>
                <div class="row">
                    <h2 align = "center">下面是video视频的显示播放</h2>
                    <video id="myVideo" width="320" height="240" controls      >
                        <source src="/static/video/movie.mp4" type="video/mp4">
                        <source src="/static/video/movie.ogg" type="video/ogg">
                        Your browser does not support the video tag.
                    </video>
                </div>

                <p>
                    <h4>
                        注意 ：js脚本中书写了对array对象属性和方法的基本使用情况 <br>
                        测试生成的内容可以通过f12查看  通过console.log()打印
                    </h4>
                </p>
            </div>
            <div class="row col-md-1"></div>
        </div>
    </div>



</body>
#parse("platform/footer.vm")


<script>
    $(document).ready(function () {
        //创建Arrau()对象
        var array  = new Array();
        //可以通过构造方法设置对象数组长度
        array = new Array(4);
        console.log("对象的长度："+array.length);
        //通过构造方法进行设置内容
        array = new Array("element00","element1","element2");
        console.log("array对象的第一个元素是："+array[0]);//获取对象中的第一个元素
                    #################################
                    ######   array对象的属性 #########
                    #################################
                    ################################


        ## 　length;//返回数组中的元素个数
        console.log("array属性length的使用"+array.length);


        ##################################################
        ##　prototype;//使你有能力向对象中添加属性和方法#####
        ##################################################
        // protorype exmple
        function test(name,address) {
            this.name = name;
            this.address = address;
        }

        //获取test对象 并且给这个对象的属性赋值
        var test_instance = new test("韩菱纱","仙剑客栈");
        //给test添加一个属性并赋值为空  调用prototype
        test.prototype.color = null;
        //给此属性赋值
        test_instance.color = '红色';
        //打印并输出 新增属性的颜色
        console.log("打印新增属性："+test_instance.color); //输出结果 ： 红色


        ##############################################
        ## 　constructor;//返回创建此对象数组的引用 ####
        ##############################################
        // constructor example
        function employee(name,job,born)
        {
            this.name=name;
            this.job=job;
            this.born=born;
        }

        var bill=new employee("Bill Gates","Engineer",1985);

        console.log("打印constructor对象的引用："+bill.constructor); //输出结果： function employee(name,job,born) { this.name=name; this.job=job; this.born=born; }


                            #####################################
                            ########Array对象 方法的使用 #########
                            #####################################
        // 方法是用可参考 W3cSchool教程

        ###  javascript中的正则表达式的使用
        console.log(new RegExp("[a-h]"));//返回的结果是  /[a-h]/
        var str = 'esdfwerfdsfsdf';
        var patt1=/[a-h]/g;
        //对str字符串按patt1进行全局搜索
        var result = str.match(patt1);//返回的是个单字节数组
        console.log(result);
        console.log(result[0])
        ## search()搜索方法
        ## match() 匹配方法
        ## replace() 替换方法
        ## split() 分割方法



        ####  Document 对象 ######################

        console.log("document对象获取url:"+document.URL);
        console.log("document对象获取上一个页面的url:"+document.referrer);
        console.log("document对象获取最后一次修改时间:"+document.lastModified)


    })



</script>


</html>