##  欢迎页
#parse("platform/head.vm")
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>xuxy首页</title>
##    给标题添加 logo

    ## 标题栏logo
    <link rel="icon" href="/template/static/images/title.ico" type="image/x-icon">
    ## 收藏夹 logo
    ## <link rel="shortcut icon" href="/static/images/title.ico" type="image/x-icon">

    <!-- Bootstrap -->
##    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/template/static/layer/mobile/need/layer.css">

<link rel="stylesheet" href="/template/static/jquery-ui-1.12.1.custom/jquery-ui.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style>
    body {
        background-color: #fef5fd;
    }
    .ui-datepicker-calendar {
        display: none;
    }
</style>
<body onload="dwr.engine.setActiveReverseAjax(true);dwr.engine.setNotifyServerOnPageUnload(true);">
    <div class="container">
        #parse("platform/navbar.vm")
        <div class="row" >
            ## 设置导航条一下 左侧栏导航
            <div class="col-md-2">

            </div>
            ## 内容
            <div class="row col-md-9">
                <div class="row" style="height: 50px;width: auto">

                </div>
                <div class="row">
                ## 表格的样式
                    <div class="col-md-4">
                        <table class="table table-bordered">##表格带边框的
                            <thead>
                            <tr>
                                <td>封神留名</td>
                                <td>英雄名</td>
                                <td>密码</td>
                            </tr>

                            </thead>
                            <tbody>
                            <tr>
                                <td>无敌是多么寂寞</td>
                                <td>妖妖</td>
                                <td>741</td>
                            </tr>
                            <tr>
                                <td>无敌是多么寂寞</td>
                                <td>妖妖</td>
                                <td>741</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                ##  表单的设置和提交样式
                    <div class="col-md-3">
                        <form id="formId" action="">
                        ##  表单样式的css 处理
                            <div class="form-group">
                                <label for="">姓名:</label>
                                <input type="text" id="name" class="form-control" name="name">
                            </div>
                            <div class="form-group">
                                <label for="">地址:</label>
                                <input type="text" id="address" class="form-control" name="address">
                            </div>
                        ## 提交按钮的css
                            <button type="button"  id="btn" class="btn btn-primary">添加</button>
                            <button type="button" class="btn btn-default">取消</button>
                        </form>
                    </div>
                </div>
                <input type="text" id="datepicker">

            </div>

        </div>

    </div>
</body>
#parse("platform/footer.vm")
<script src="/template/static/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
## 遮罩插件 必须jquery1.3版本以上的才能使用
<script src="/template/static/js/jquery.blockUI.js"></script>
<script src="/template/static/dwr/engine.js"></script>
<script src="/template/static/dwr/util.js"></script>
<script src="/template/static/dwr/interface/Info.js"></script>
<script>




    function test(msg) {
        alert("dwr调用提示"+msg);
    //msg为推送的内容
    //执行要推送的服务
    }
    $(function () {
        //当点击提交按钮提交表单
        $("#btn").click(function () {
            $.blockUI({
                message:"请稍等...",
               // baseZ:9999,
                css: { backgroundColor: '#AAAAAA',opacity:0.5, color: 'black'},
               /* overlayCSS:{
                    cursor:''
                }*/
            });
            $.post("/user/add",$("#formId").serialize(),function (data) {
                $.unblockUI();
                //将表格中的数据清空
                $("#name").val("");
                $("#address").val("");
                //layer.msg("添加成功！")
                layer.alert("数据添加成功！");
            })
        })
        $("#datepicker").datepicker({
            monthNamesShort: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],  // 区域化月名为中文
            prevText: '上月',         // 前选按钮提示
            nextText: '下月',         // 后选按钮提示
            changeYear: true,          // 年下拉菜单
            changeMonth: true,             // 月下拉菜单
            showButtonPanel: true,         // 显示按钮面板
            showMonthAfterYear: true,  // 月份显示在年后面
            currentText: "本月",         // 当前日期按钮提示文字
            closeText: "关闭",           // 关闭按钮提示文字
            dateFormat: "yy-mm",       // 日期格式
            onClose: function(dateText, inst) {// 关闭事件
                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(year, month, 1));
            }
        });

    })


</script>
</html>
