##  欢迎页
#parse("platform/head.vm")
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>xuxy首页</title>
##    给标题添加 logo

    ## 标题栏logo
    <link rel="icon" href="/static/images/title.ico" type="image/x-icon">
    ## 收藏夹 logo
    ## <link rel="shortcut icon" href="/static/images/title.ico" type="image/x-icon">

    <!-- Bootstrap -->
##    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/layer/mobile/need/layer.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style>
    body {
        background-color: #fef5fd;
    }
</style>
<body>
    <div class="container">
        #parse("platform/navbar.vm")
        <div class="row" >
            ## 设置导航条一下 左侧栏导航
            <div class="col-md-2">

            </div>
            ## 内容
            <div class="row col-md-9">
                <div class="row" style="height: 50px;width: auto">

                </div>
                <div class="row">
                ## 表格的样式
                    <div class="col-md-4">
                        <table class="table table-bordered">##表格带边框的
                            <thead>
                            <tr>
                                <td>封神留名</td>
                                <td>英雄名</td>
                                <td>密码</td>
                            </tr>

                            </thead>
                            <tbody>
                            <tr>
                                <td>无敌是多么寂寞</td>
                                <td>妖妖</td>
                                <td>741</td>
                            </tr>
                            <tr>
                                <td>无敌是多么寂寞</td>
                                <td>妖妖</td>
                                <td>741</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                ##  表单的设置和提交样式
                    <div class="col-md-3">
                        <form id="formId" action="">
                        ##  表单样式的css 处理
                            <div class="form-group">
                                <label for="">姓名:</label>
                                <input type="text" id="name" class="form-control" name="name">
                            </div>
                            <div class="form-group">
                                <label for="">地址:</label>
                                <input type="text" id="address" class="form-control" name="address">
                            </div>
                        ## 提交按钮的css
                            <button type="button"  id="btn" class="btn btn-primary">添加</button>
                            <button type="button" class="btn btn-default">取消</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>

    </div>
</body>
#parse("platform/footer.vm")
<script>
    $(function () {
        //当点击提交按钮提交表单
        $("#btn").click(function () {
            $.post("/user/add",$("#formId").serialize(),function (data) {

                //将表格中的数据清空
                $("#name").val("");
                $("#address").val("");
                //layer.msg("添加成功！")
                layer.alert("数据添加成功！");
            })
        })
    })
</script>
</html>
