####  登录界面 demo
<!-- saved from url=(0064)http://www.17sucai.com/preview/137615/2015-01-15/demo/index.html -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="IE=11.0000" http-equiv="X-UA-Compatible">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>登录页面</title>

    <link rel="stylesheet" href="/static/login/login.css">
    <link rel="stylesheet" href="/static/layer/mobile/need/layer.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">


    <meta name="GENERATOR" content="MSHTML 11.00.9600.17496">
</head>
<body>
<div class="top_div">

</div>
<div style="background: rgb(255, 255, 255); margin: -100px auto auto; border: 1px solid rgb(231, 231, 231); border-image: none; width: 400px; height: 210px; text-align: center;">
    <div style="width: 165px; height: 96px; position: absolute;">
        <div class="tou"></div>
        <div class="initial_left_hand" id="left_hand"></div>
        <div class="initial_right_hand" id="right_hand"></div>
    </div>
    <form id="formId" action="/login" method="post">
        <p style="padding: 30px 0px 10px; position: relative;">
            <span class="u_logo"></span>
            <input style="margin-left: 10px" class="ipt" type="text" name="name" placeholder="请输入用户名或邮箱" value="">
        </p>
        <P style="position: relative;">
            <SPAN class="p_logo"></SPAN>
            <INPUT style="margin-left: 10px" class="ipt" id="password" name="password" type="password" placeholder="请输入密码" value="">
        </P>
    </form>

    <div style="height: 50px; line-height: 50px; margin-top: 20px; border-top-color: rgb(231, 231, 231); border-top-width: 0px; border-top-style: solid;">
        <P style="margin: 0px 35px 20px 45px;">
            <span style="float: left;">
                <A style="color: rgb(204, 204, 204);" href="#">忘记密码?</A>
            </span>
            <span style="float: right;">
                <A style="color: rgb(204, 204, 204); margin-right: 10px;" id="register" href="#">注册</A>
                <A style="background: rgb(0, 142, 173); padding: 7px 10px; border-radius: 4px; border: 1px solid rgb(26, 117, 152); border-image: none; color: rgb(255, 255, 255); font-weight: bold;"
                 href="#" id="btn">登录</A>
           </span>
        </P>
    </div>
</div>
<div style="text-align:center;">
</div>
</body>
<template id="template">
    <div style="margin: 30px">
        <form action="" id="form-register">
            <div class="form-group">
                <label>用户名(唯一ID):</label>
                <input type="text" name="name" class="form-control" placeholder="请输入用户名">
            </div>
            <div class="form-group">
                <label>邮箱(用于激活账户和找回):</label>
                <input type="text" name="email" class="form-control" placeholder="请输入邮箱">
            </div>
            <div class="form-group">
                <label>昵称(显示名称):</label>
                <input type="text" name="userName" class="form-control" placeholder="请输入昵称">
            </div>
            <div class="form-group">
                <label>新密码(默认是000000):</label>
                <input type="password" name="password" class="form-control" value="000000" placeholder="请输入密码">
            </div>
            <div class="form-group">
                <label>确认密码(默认是000000):</label>
                <input type="password" name="password" class="form-control" value="000000" placeholder="请输入密码">
            </div>
            <button type="button" id="btn-register" class="btn btn-primary">注册</button>
            <button type="button" id="" class="btn btn-default">取消</button>

        </form>

    </div>

</template>
<script src="/static/jquery.min.js" type="text/javascript"></script>
<script src="/static/layer/layer.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function () {
        //得到焦点
        $("#password").focus(function () {
            $("#left_hand").animate({
                left: "150",
                top: " -38"
            }, {
                step: function () {
                    if (parseInt($("#left_hand").css("left")) > 140) {
                        $("#left_hand").attr("class", "left_hand");
                    }
                }
            }, 2000);
            $("#right_hand").animate({
                right: "-64",
                top: "-38px"
            }, {
                step: function () {
                    if (parseInt($("#right_hand").css("right")) > -70) {
                        $("#right_hand").attr("class", "right_hand");
                    }
                }
            }, 2000);
        });
        //失去焦点
        $("#password").blur(function () {
            $("#left_hand").attr("class", "initial_left_hand");
            $("#left_hand").attr("style", "left:100px;top:-12px;");
            $("#right_hand").attr("class", "initial_right_hand");
            $("#right_hand").attr("style", "right:-112px;top:-12px");
        });

        //当点击登录按钮是提交表单并登录
        $("#btn").click(function () {
            $("#formId").submit();
        })
        
        //点击注册按钮注册账户信息
        $("#register").click(function () {
            var $html = $("#template").html();
            console.log($html);
            //使用layer弹出提示框
            var register = layer.open({
                type: 1,
                title:"注册账户:",
                area: ['300px', '600px'],
                //shadeClose: true, //点击遮罩关闭
                scrollbar:false,
                content: $html
            });
            //关闭弹窗 
            $("#btn-register").click(function () {
                $.post("/add",$("#form-register").serialize(),function (data) {
                    
                })
                layer.close(register);
            })

        })
    });
</script>
</html>
