####  日期字符串和日期的测试
#parse("platform/head.vm")
<title>日期字符串使用</title>
</head>
<body>
    <div class="container">
        #parse("platform/navbar.vm")
        <div class="row">
        ## 设置导航条一下 左侧栏导航
            <div class="col-md-2 sider">

            </div>
        ## 内容
            <div class="row col-md-9 content">
                <div class="row" style="height: 50px;width: auto">

                </div>
                <div class="row">
                    <form action="" class="col-md-4">
                        <div class="form-group">
                            <label for="">开始时间：</label>
                            <input type="text" class="form-control" name="start" placeholder="请输入开始时间">
                        </div>
                        <div class="form-group">
                            <label for="">结束时间：</label>
                            <input type="text" class="form-control" name="end" placeholder="请输入结束时间">
                        </div>

                        <button type="button" class="btn btn-primary">查询</button>
                    </form>

                </div>
                <p class="bg-danger">
                    注意：
                </p>
            </div>
        </div>
    </div>
</body>
#parse("platform/footer.vm")
<script>
    $(document).ready(function () {

        diff();
        //计算两个日期的相差的天数 第二种
        function  diff() {
            var start = "2017-09-10";
            var end = "2017-09-20";
            var array , startDate,endDate,count;
            //把日期字符串转换为日期
            var str = new Date(start);//将日期字符串转换为日期
            //获取日期的毫秒数
            startDate = str.getTime();//获取开始时间毫秒数
            endDate = new Date(end).getTime();//获取结束时间毫秒数
            count = parseInt(Math.abs(startDate-endDate) /  1000  /  60  /  60  /24)

            return count ;//count = 10;

        }



    })
</script>


</html>